<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_092504ee36c6fdb637431685bc1fb251 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_092504ee36c6fdb637431685bc1fb251" ></div>
        
</body>
<script>
    
    
            var map_092504ee36c6fdb637431685bc1fb251 = L.map(
                "map_092504ee36c6fdb637431685bc1fb251",
                {
                    center: [33.69290656869241, 73.06717059524996],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3a7c949a6749445ce171cb2e91399ba0 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_3a7c949a6749445ce171cb2e91399ba0.addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_216280dc05e5cd2e9eb8dfcedd641934 = L.polyline(
                [[33.6458017, 72.993042], [33.6458328, 72.9930735], [33.6458946, 72.9931899], [33.6460987, 72.9935743], [33.646448, 72.994232], [33.6468791, 72.9950857]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_bf2de0730c30307bcb4c80b2e406654d = L.polyline(
                [[33.6468791, 72.9950857], [33.6471727, 72.995649], [33.6473178, 72.9959334], [33.6478157, 72.9968668], [33.6482422, 72.9977143], [33.6486039, 72.9983903], [33.6489031, 72.9989803], [33.6489455, 72.9990544], [33.6490275, 72.999198], [33.6492909, 72.9996592]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_94762dbf4b61a78ce8c9d438b25dbac6 = L.polyline(
                [[33.6492909, 72.9996592], [33.6493478, 72.9996174], [33.6504708, 72.9987927]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_ae59ca7ca083e42f8449b871de48246e = L.polyline(
                [[33.6504708, 72.9987927], [33.651115, 72.9983196], [33.6545207, 72.9958077], [33.6547753, 72.9956456], [33.654849, 72.995635], [33.6549197, 72.9956386], [33.6549845, 72.995674], [33.6550464, 72.9957341], [33.6550994, 72.9958084], [33.6551819, 72.99595], [33.6552397, 72.9960212], [33.6552956, 72.9960453], [33.6553469, 72.996048]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_ef6d354663c290bf06a34f58dd4a174c = L.polyline(
                [[33.6553469, 72.996048], [33.6553938, 72.9960319], [33.6554942, 72.9959677], [33.6559128, 72.9956501], [33.6563699, 72.9953034]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_102e5b137c553a32294b090aa5decce4 = L.polyline(
                [[33.6563699, 72.9953034], [33.6564699, 72.9951275], [33.6565248, 72.9949402], [33.6565478, 72.9947081], [33.6565029, 72.9944134]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_51f7b6b976107b0cedb0fcb6c98dbb73 = L.polyline(
                [[33.6565029, 72.9944134], [33.6536931, 72.9891314], [33.6529185, 72.9876516]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_1be70f93c6cbdc4a7e944cebab6e270c = L.polyline(
                [[33.6529185, 72.9876516], [33.6527919, 72.987282], [33.6524918, 72.9866198], [33.6524387, 72.9865093], [33.6524151, 72.9864579], [33.6524077, 72.9864084], [33.652421, 72.9863659], [33.6524505, 72.9863394], [33.6524991, 72.9863411], [33.6525492, 72.9863907], [33.6525801, 72.9864509], [33.6526758, 72.9866367], [33.6529751, 72.9871546], [33.6532161, 72.9875187]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_153cae26fa468cb87bc23962322c4656 = L.polyline(
                [[33.6532161, 72.9875187], [33.6536602, 72.988393], [33.6539558, 72.9889582], [33.655669, 72.9922339], [33.6568385, 72.9944862]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_965267cea0c6714477a4adb1f9237b3f = L.polyline(
                [[33.6568385, 72.9944862], [33.6570249, 72.9948451]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_dc86f2f23a31fdd76aea130470eb3a0d = L.polyline(
                [[33.6570249, 72.9948451], [33.6571001, 72.9949878]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_dda62b56585de37cb152e04036f6d14f = L.polyline(
                [[33.6571001, 72.9949878], [33.6573551, 72.9954719]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_a4cbd73ae66f40766a8e92750820dcab = L.polyline(
                [[33.6573551, 72.9954719], [33.6619528, 73.0041998]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_500576fd4110186c6ac997a1b2ed8626 = L.polyline(
                [[33.6619528, 73.0041998], [33.6632935, 73.0067327]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_86c89b3a6d59b97c7c56db5d4e546b8b = L.polyline(
                [[33.6632935, 73.0067327], [33.6663145, 73.0125222]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_6e837e6d8624525401421619e2ea1cf8 = L.polyline(
                [[33.6663145, 73.0125222], [33.6666071, 73.013116], [33.6666649, 73.0132299], [33.6669688, 73.0138266]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_9c7d99b0a18d0b140eea6632574df0fe = L.polyline(
                [[33.6669688, 73.0138266], [33.6712046, 73.0218476], [33.6715646, 73.022442]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_332c73a833722008f8c8359fe3cd133c = L.polyline(
                [[33.6715646, 73.022442], [33.6719167, 73.0229983], [33.6724536, 73.0240155], [33.6728395, 73.0247286], [33.6735618, 73.0262852], [33.6736019, 73.0263734]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_73e96be32dbf2102df5c79db887ba5c3 = L.polyline(
                [[33.6736019, 73.0263734], [33.6736873, 73.02655], [33.6750549, 73.0291171], [33.6780979, 73.03496], [33.6791953, 73.037052], [33.6792982, 73.0372533]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_b7797cf8a9a0aad838b906cbfd3c6469 = L.polyline(
                [[33.6792982, 73.0372533], [33.6795195, 73.0376864]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_8ff75ce3bbfdd60a4e136b5489a4f1f4 = L.polyline(
                [[33.6795195, 73.0376864], [33.6796019, 73.0378466]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_95c6dfc30dff6395944cf183aae9dd81 = L.polyline(
                [[33.6796019, 73.0378466], [33.6796557, 73.0379552]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_bb689e7595555a9023b58ab087aed162 = L.polyline(
                [[33.6796557, 73.0379552], [33.6798848, 73.038354]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_64df40362cc76ae430659d3593315734 = L.polyline(
                [[33.6798848, 73.038354], [33.680925, 73.0402541], [33.6813696, 73.0410645], [33.6815036, 73.0413303]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_7d0977e02525fb4501bf8b02658d0a05 = L.polyline(
                [[33.6815036, 73.0413303], [33.6826329, 73.0435574], [33.6838119, 73.0458866]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_25de6bb467d0326259ce82dd55a40c34 = L.polyline(
                [[33.6838119, 73.0458866], [33.6853232, 73.0486938], [33.6865736, 73.0510949]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_4405b1e95d2b75101f73cf431170fa4c = L.polyline(
                [[33.6865736, 73.0510949], [33.6872083, 73.0522559]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_2de65777d734d8b8e708346fa10a24a7 = L.polyline(
                [[33.6872083, 73.0522559], [33.6875988, 73.0529398], [33.6888051, 73.055411], [33.6899136, 73.057515], [33.6916954, 73.0608949]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_2f06c1685249c6cf618fa8190cd28922 = L.polyline(
                [[33.6916954, 73.0608949], [33.6920362, 73.0615518]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_5af667eebfe28855b33960b2f0a3d83b = L.polyline(
                [[33.6920362, 73.0615518], [33.6921483, 73.061803], [33.6928528, 73.0631227], [33.6933782, 73.0641692]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_d66fc305491b26aa8477908320ce64c2 = L.polyline(
                [[33.6933782, 73.0641692], [33.6937332, 73.0648414], [33.6941948, 73.0657509], [33.6943019, 73.0659668]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_6527d8356a9e69a028f8bc8f6b304516 = L.polyline(
                [[33.6943019, 73.0659668], [33.6957243, 73.068621]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_852604a6f97f44c12ec76be98a404551 = L.polyline(
                [[33.6957243, 73.068621], [33.6978152, 73.0726798], [33.698509, 73.0739581], [33.6988816, 73.0746685], [33.6996216, 73.0761019], [33.7003771, 73.0774873], [33.7007088, 73.0781286], [33.7008301, 73.0783725], [33.7009372, 73.0786514], [33.7010978, 73.079094]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_e9924b85db2cfe1dbb9d40214d5faf3f = L.polyline(
                [[33.7010978, 73.079094], [33.7011783, 73.0793298], [33.7012773, 73.0795929], [33.7013804, 73.0798418], [33.7014021, 73.0798863]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_d3daed6f56c567c3d17d2fe517d4c919 = L.polyline(
                [[33.7014021, 73.0798863], [33.7015939, 73.0802787]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_b2ba6a36cf47f86893e792b68e1346c1 = L.polyline(
                [[33.7015939, 73.0802787], [33.7023559, 73.0818379], [33.7027922, 73.0827316]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_e9067df4d124c7271b7b2b2d39bf99e8 = L.polyline(
                [[33.7027922, 73.0827316], [33.703082, 73.0832845]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_2e0bb6a9b01baf35df4c87cb7617afbc = L.polyline(
                [[33.703082, 73.0832845], [33.703263, 73.0836343], [33.7034474, 73.0839982], [33.7037129, 73.0844941], [33.7038303, 73.0847151], [33.703966, 73.08498], [33.7040792, 73.085218]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_9e07342ece2102310589bb3d9ab88c67 = L.polyline(
                [[33.7040792, 73.085218], [33.7041973, 73.0854974]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_b532d6a10a72b873e0cebf4fa45b2ef7 = L.polyline(
                [[33.7041973, 73.0854974], [33.7043139, 73.0857742], [33.7044351, 73.0860824], [33.7046043, 73.0864703], [33.7047828, 73.0868479], [33.7049685, 73.0871484], [33.7051756, 73.0874144], [33.705504, 73.0878693], [33.7060601, 73.0885948], [33.7061586, 73.08873], [33.7064973, 73.0893021], [33.7069187, 73.0901445]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_36859198e9298281e184225ee0de758c = L.polyline(
                [[33.7069187, 73.0901445], [33.7071382, 73.0905485]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_748935347a869fbe168ab3f89c78a85d = L.polyline(
                [[33.7071382, 73.0905485], [33.7085134, 73.093185]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_944e0aaecf84071326db0f99d978fcad = L.polyline(
                [[33.7085134, 73.093185], [33.7085524, 73.0932546]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_ccb4fac9e6bbe99521bc5692932dd748 = L.polyline(
                [[33.7085524, 73.0932546], [33.709142, 73.0943081]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_d101e5745ba07760edd3ea1f6e78fc41 = L.polyline(
                [[33.709142, 73.0943081], [33.7097985, 73.0955571], [33.7103564, 73.0966593]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_a168219cf7ee6f9b2e15eb8793641058 = L.polyline(
                [[33.7103564, 73.0966593], [33.7104841, 73.096914], [33.7108265, 73.0975463], [33.7113377, 73.0985196], [33.7115663, 73.098955]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_2ef261d7d114839f30d85539aac755da = L.polyline(
                [[33.7115663, 73.098955], [33.7116604, 73.0991341], [33.7124471, 73.1006703]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_20654b68684685a6d93af11448af1d6f = L.polyline(
                [[33.7124471, 73.1006703], [33.7129527, 73.1016575], [33.7134159, 73.1025461]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_93f83466451304871999aadfb5ad50fb = L.polyline(
                [[33.7134159, 73.1025461], [33.7136258, 73.1028993]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_5161d16dd253177f61117a13f7ede9aa = L.polyline(
                [[33.7136258, 73.1028993], [33.7136983, 73.1030361]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_62240848d4ee6ae86144abd4c64137d4 = L.polyline(
                [[33.7136983, 73.1030361], [33.7137828, 73.1031956], [33.713827, 73.1032857]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_672839f1801029b46cf3217954c3ea63 = L.polyline(
                [[33.713827, 73.1032857], [33.7139497, 73.1035251]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_7f840011834c9aaff6af1c8343b84315 = L.polyline(
                [[33.7139497, 73.1035251], [33.7142309, 73.104076], [33.7148089, 73.1051824], [33.7151824, 73.1058868], [33.7157598, 73.1070088], [33.7158474, 73.1071717], [33.7166169, 73.1086449], [33.7171762, 73.1097511], [33.7173334, 73.1100476], [33.7180236, 73.1112981], [33.7187806, 73.1127478], [33.719173, 73.1134953], [33.719673, 73.1144987], [33.7199709, 73.1151068], [33.7202279, 73.1157248], [33.7203298, 73.1163097], [33.7203282, 73.1168067], [33.7203279, 73.1168921], [33.7201994, 73.1173642], [33.7197782, 73.1182225], [33.7193927, 73.1188748], [33.7192456, 73.1191531]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_55c6ecef2dcb0617d8880f087d952610 = L.polyline(
                [[33.7192456, 73.1191531], [33.7191846, 73.1193955], [33.7190479, 73.1198877], [33.7190212, 73.1201935], [33.7189632, 73.1206441], [33.7188837, 73.1212941]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_7c16cc8fc5ae49c1286c1a34ad7d31e4 = L.polyline(
                [[33.7188837, 73.1212941], [33.718827, 73.1219973], [33.7187203, 73.123734], [33.718724, 73.1243115], [33.718749, 73.124548], [33.7187934, 73.124813], [33.7189319, 73.1251971], [33.7190942, 73.1255431], [33.7196763, 73.1265665], [33.720074, 73.127194], [33.7202624, 73.1276399], [33.7203978, 73.1281071], [33.7205862, 73.1289423], [33.7207825, 73.1300533], [33.7209983, 73.1311296], [33.7212692, 73.1328708], [33.7214815, 73.1335775], [33.7216403, 73.1339183], [33.721849, 73.1342878]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_1469d669ea6c4821222dee6ed7e608bd = L.polyline(
                [[33.721849, 73.1342878], [33.7226941, 73.1352126], [33.7232908, 73.1359291], [33.7240259, 73.1368116]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_f26b9841311e7af30e12f7c980dff099 = L.polyline(
                [[33.7240259, 73.1368116], [33.7256053, 73.1386947], [33.7257805, 73.1389299]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_5c9db855c5b3bf8ab59853086ff84f51 = L.polyline(
                [[33.7257805, 73.1389299], [33.7261463, 73.1394525]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_6d6fab33658d130f1641a8e18799e4ff = L.polyline(
                [[33.7261463, 73.1394525], [33.7278545, 73.1419548], [33.7290155, 73.1436515], [33.729441, 73.1443234]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_c92f0bcb54be6cdb00109ffb3a4c7d48 = L.polyline(
                [[33.729441, 73.1443234], [33.7300437, 73.1454277], [33.7305903, 73.1464335], [33.7317792, 73.1485713]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_46f95bc9133a4d5939a6abe7d7241253 = L.polyline(
                [[33.7317792, 73.1485713], [33.7318672, 73.1487362], [33.7320744, 73.1491002], [33.7327842, 73.1503474], [33.7332139, 73.1511331], [33.733473, 73.1518551], [33.7337707, 73.1530753]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_d9d9bcbfbd4a180d02670ca79b77a91f = L.polyline(
                [[33.7337707, 73.1530753], [33.7343947, 73.1555756], [33.7345241, 73.1562558]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_df386e454b7974fe39ea56e1cee330d9 = L.polyline(
                [[33.7345241, 73.1562558], [33.7345853, 73.1569156], [33.7346515, 73.1581023], [33.7347985, 73.1602274]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_6972e780c2b9c6f512f945fd38c43d60 = L.polyline(
                [[33.7347985, 73.1602274], [33.735367, 73.1601134], [33.7357865, 73.1600645], [33.736107, 73.1600303], [33.7367464, 73.1599722], [33.7372999, 73.1599229], [33.7385656, 73.159658], [33.7401694, 73.1592143], [33.7407973, 73.1590507], [33.7409822, 73.1590025]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            var poly_line_bd15dc1731e13d8e1ae912d8c6e2e1e9 = L.polyline(
                [[33.7409822, 73.1590025], [33.7422543, 73.1586688], [33.7427421, 73.1585437], [33.7432357, 73.1584085]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_092504ee36c6fdb637431685bc1fb251);
        
    
            map_092504ee36c6fdb637431685bc1fb251.fitBounds(
                [[33.6458017, 72.9863394], [33.7432357, 73.1602274]],
                {}
            );
        
</script>
</html>